<br>
<br>
<br>
<form action="/add_store" method="post">
  <input type="text" name="name" id="name">
  <label for="name">Store Name</label>
  <br>
  <br>
  <br>
  <br>
  <br>
  <button type="submit">Add Store</button>
</form>
