<br>
<br>
<br>
<form action="/list_shoe" method="post">
  <input type="text" name="name" id="name">
  <label for="name">Shoe Name</label>
  <input type="text" name="price" id="price">
  <label for="price">Price</label>


  <br>
  <br>
  <br>
  <br>
  <br>
  <button type="submit">Add Shoe</button>
</form>
