<h1>Store: <%= @store.name %></h1>
<h2>Shoes:</h2>
<% if @store.shoes.any? %>
  <ul>
    <% @store.shoes.each() do |shoe| %>
      <li><a href="/shoes/<%= shoe.id %>"><%= shoe.name %></a></li>
      <br>
    <% end %>
  </ul>
<% else %>
  <p>There are no shoes</p>
<% end %>
<h3>Add a shoe to a store</h3>
<form action='/stores/<%= @store.id %>' method="post">
  <input type="text" name="name" id="name">
  <label for="name">Shoe Name</label>
  <br>
  <button type="submit">Add Shoe</button>


<br>
<br>
<br>
<br>
